body {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

* {
    user-select: none;
    box-sizing: border-box;
}

button {
    position: absolute;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.45);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5vw;
    left: 0vw;
    top: 0vw;
    outline: none;
    transition: 0.25s;
}

button:hover {
    color: rgba(255,255,255,0.9);
    transition: 0.25s;
}

.mainContainer {
    position: absolute;
    background-color:rgba(0,0,0,0.25);
    top: 12vw;
    left: 1vw;
    width: 20vw;
    height: 35vw;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: rgba(255,255,255,0.5)
}

.titleContainer {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 9.8vw;
    height: 0.1vw;
    top: 2vw;
    left: 5vw;
}

.buttonStyleFirst {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 4vw;
    left: 1vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleFirst:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleSecond {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 10vw;
    left: 1vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleSecond:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleThird {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 16vw;
    left: 1vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleThird:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleFourth {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 22vw;
    left: 1vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleFourth:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}


.buttonStyleFifth {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 4vw;
    left: 13.7vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleFifth:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleSixth {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 10vw;
    left: 13.7vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleSixth:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleSeventh {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 16vw;
    left: 13.7vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleSeventh:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleEigth {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 22vw;
    left: 13.7vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleEigth:hover {
    transform: scale(1.02,1.02);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.buttonStyleMiddle {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 5vw;
    width: 5vw;
    top: 29vw;
    left: 7.2vw;
    transition: 0.25s;
    border: solid 0.1vw;
    border-radius: 50px;
    border-color: rgba(255,255,255,0.6);
}

.buttonStyleMiddle:hover {
    transform: scale(1.05,1.05);
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.9);
}

.middleLineOne {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 5vw;
    height: 0.1vw;
    top: 30.5vw;
    left: 1vw;
}

.middleLineTwo {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 5vw;
    height: 0.1vw;
    top: 32vw;
    left: 1vw;
}

.middleLineThree {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 5vw;
    height: 0.1vw;
    top: 30.5vw;
    left: 13.4vw;
}

.middleLineFour {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 5vw;
    height: 0.1vw;
    top: 32vw;
    left: 13.4vw;
}

.titleContainer h1 {
    position: absolute;
    color: rgba(255,255,255,0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3vw;
    top: -2.4vw;
    left: 0.1vw;
}